[submodule "cs301-crm-project-2024-25t2-301-g3t3-load-testing"]
	path = load-testing
	url = https://github.com/cs301-crm/cs301-crm-project-2024-25t2-301-g3t3-load-testing.git
[submodule "project-2024-25t2-301-g3t3-charts"]
	path = k8s
	url = https://github.com/cs301-crm/project-2024-25t2-301-g3t3-charts.git
[submodule "project-2024-25t2-301-g3t3-lambda"]
	path = lambda
	url = https://github.com/cs301-crm/project-2024-25t2-301-g3t3-lambda.git
[submodule "project-2024-25t2-301-g3t3-logs-service"]
	path = logs-service
	url = https://github.com/cs301-crm/project-2024-25t2-301-g3t3-logs-service.git
[submodule "project-2024-25t2-301-g3t3-client-service"]
	path = client-service
	url = https://github.com/cs301-crm/project-2024-25t2-301-g3t3-client-service.git
[submodule "project-2024-25t2-301-g3t3-communication-service"]
	path = comms-service
	url = https://github.com/cs301-crm/project-2024-25t2-301-g3t3-communication-service.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/cs301-crm/project-2024-25t2-301-g3t3-api-gateway.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/cs301-crm/project-2024-25t2-301-g3t3-user-service.git
[submodule "project-2024-25t2-301-g3t3-frontend"]
	path = frontend
	url = https://github.com/cs301-crm/project-2024-25t2-301-g3t3-frontend.git
[submodule "infra"]
	path = infra
	url = https://github.com/cs301-crm/project-2024-25t2-301-g3t3-infra.git
